* {
  box-sizing: border-box;
}
.header {
  background-color:cadetblue;
  text-align: center;
  height: 200px;
  padding: 10px;
}

.title{
    font-weight: lighter;
    font-size: 50px;
    color:black;
    transition: all 1s;
}
.title:hover{
    color:aqua;
}
